[Unit]
Description=este es el front 1
Documentation=https://github.com/test-app
After=network.target

[Service]
Environment=PORT=3001
Type=simple
User=ubuntu
Restart=always
RestartSec=1
ExecStart=/home/ubuntu/projects/script.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target