[Unit]
Description=Servicio del Front 1
Documentation=https://github.com/italovisconti/NNotes/blob/main/src/services/front-1.service
After=network.target

[Service]
Environment=PORT=3001
Type=simple
User=ubuntu
Restart=always
RestartSec=10
ExecStart=/opt/scripts/script.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target