[Unit]
Description=este es el front 1
Documentation=https://github.com/test-app
After=network.target

[Service]
Environment=PORT=3001
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/projects/NNotes
ExecStart=/usr/bin/node npm run start -- --port 3001
Restart=on-failure

[Install]
WantedBy=multi-user.target